<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
<meta charset="utf-8">
<title>Person Search</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="Global Foundries Direcotry Search">
<meta name="author" content="Global Foundries">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script 
	src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<!-- <script src="./scripts/ext/bootstrap-typeahead.js"></script> -->
<script src="./scripts/orgChart.js"></script>
<!-- <script src="./scripts/TypeAhead.js"></script> -->
<script src="./scripts/controller.js"></script>
<script src="./scripts/ui.js"></script>
<script src="./scripts/main.js"></script>
<link type="text/css" rel="stylesheet" href="./css/main.css" />
<link type="text/css" rel="stylesheet" href="./css/sidebar.css" />
<link rel="icon" href="./img/favicon.png" type="image/x-icon" /> 

</head>

<body ng-app="search">


	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<!--changes made here-->
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="row">
						<div class="col-xs-3">
							<img class="img-responsive" src="./img/Directory_Search.gif"
								alt="">
						</div>
						<div class="col-xs-6">
							<form class="navbar-form navbar-left" role="search">
								<div class="input-group" style="">
									<input type="text" class="form-control" id="people_search"
										size="400" aria-label="People Search"
										placeholder="Enter Name here">
									<div id="product"
										style="border-width: 1; padding: 5px; border-style: solid"></div>
									<div class="input-group-btn">
										<!--<span class="glyphicon glyphicon-search input-group-addon" aria-hidden="true"></span>-->
										<!--  <button type="button" class="btn btn-default dropdown-toggle"
											data-toggle="dropdown" aria-expanded="false" id="advsearch">
											<span class="caret"></span> <span class="sr-only">Advanced
												Search</span>
										</button>-->
										<button type="button" class="btn btn-success" id ="search_submit">Go</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-xs-3">
							<form class="navbar-form navbar-left" role="search">
								<h6>
									{% if user %} {{user.nickname()}} {% else %} An anonymous
									person {% endif %} [<a href="{{ url|safe }}">{{
										url_linktext }}</a>]
								</h6>
							</form>
						</div>
					</div>
				</div>
			</div>
	</nav>


	<div class="well" id="advSerachModal">

		<form class="form-horizontal" role="form">

			<div class="row no-gutter">
				<div class="col-sm-4 col-md-6 ">
					<div class="form-group form-group-sm">
						<label for="fname"
							class="col-md-5 col-sm-1 control-label form-group input-sm">First
							Name</label>
						<div class="col-md-7 col-sm-1">
							<input type="email" class="form-control input-sm hasclear" id="fname"
								placeholder="First Name">
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-lg-6">
					<div class="form-group">
						<label for="lname"
							class="col-md-5 col-sm-1 control-label form-group input-sm">Last
							Name</label>
						<div class="col-md-7 col-sm-1">
							<input type="email" class="form-control input-sm hasclear" id="lname"
								placeholder="Last Name">
						</div>
					</div>
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-sm-4 col-lg-6">
					<div class="form-group">
						<label for="inputEmail"
							class="col-md-5 col-sm-1  control-label form-group input-sm">Email:</label>
						<div class="col-md-7 col-sm-1">
							<input type="email" class="form-control input-sm hasclear" id="inputEmail"
								placeholder="Email">
						</div>
					</div>
				</div>

				<div class="col-sm-4 col-lg-6">
					<div class="form-group">
						<label for="manager"
							class="col-md-5 col-sm-1  control-label form-group input-sm">By
							Manager:</label>
						<div class="col-md-7 col-sm-1">
							<input type="text" class="form-control input-sm hasclear" id="manager"
								placeholder="By Manager">
						</div>
					</div>
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-sm-4 col-md-4 col-lg-6">
					<div class="form-group">
						<label for="region"
							class="col-md-5 col-sm-1 control-label form-group input-sm">Region</label>
						<div class="col-md-7 col-sm-1 ">
							<input type="text" class="form-control input-sm hasclear" id="region"
								placeholder="Region">
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-6">
					<div class="form-group">

						<div class="col-md-7 col-sm-1 ">
							<button id="advSubmit" class="btn btn-success btn-sm">Search</button>
						</div>
					</div>
				</div>


			</div>
			<!-- /.row this actually does not appear to be needed with the form-horizontal -->
		</form>
	</div>

	
	<div class="container">
     
     <!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-default open" role="navigation">
   	
    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
    </ul>
    
</aside>

<div class="wrapper">
     <div class="constructor">
    <div id="productDetails">
        
    </div>
	<div id="orgChart">
        
    </div>
    </div>
</div>
 
    </div><!--/.container-->
</body>
</html>
{% endautoescape %}
